#post_pod_gallery li:after {
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
	content: ".";
}

#post_pod_gallery .post_pod_gallery_item {width: 70% !important;}

#post_pod_gallery .button {
	float: none;
	display: inline-block;
}

#tmk-sc-form-wrap {
    height: 770px !important;
    overflow: scroll !important;
	overflow-x: hidden !important;
}

.thememakers_options_container{
    overflow: hidden;
    width: 830px;
    box-shadow:0px 0px 5px #aaa;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;

}

.thememakers_options_container .indent{
    padding: 15px;
}

.thememakers_options_values{
    width: 600px;
    float: left
}

.thememakers_options_values input[type=text]{
    width: 80%;
}

.thememakers_options_list{
    width: 200px;
    float: left;
}

.ui-tabs .ui-tabs-hide {
    display: none;
}

.thememakers_options_button {
    background: url("../images/content_button_bg.png") repeat-x scroll 0 0 transparent;
    border: 1px solid #979C9F;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 4px #ccc;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 12px;
    line-height: 23px !important;
    padding: 0 18px;
    text-shadow: -1px -1px 0 #979C9F;
    text-decoration: none;
}

a.thememakers_options_button:hover {
    text-decoration: none;
    color: #ddd;
}

.options_logo_block{
    height: 100px;
}

.options_custom_css_block textarea{
    width: 100%;
    height: 200px;
}

/* -------------------------------------------------- */
/*	Icons
/* -------------------------------------------------- */
	
	#menu-posts-folio .wp-menu-image,
	#menu-posts-testimonials .wp-menu-image,
	#menu-posts-gall .wp-menu-image{
		background-image: url(../../images/icons/custom_icons.png);
		background-repeat: no-repeat;
	}

	#adminmenu #menu-posts-folio .wp-menu-image {background-position: 0 0;}
	#adminmenu #menu-posts-testimonials .wp-menu-image {background-position: 0 -28px;}
	#adminmenu #menu-posts-gall .wp-menu-image {background-position: 0 -57px;}

/*--------------------------------  Pattern Selector  -----------------------------------------*/
.thumb_pattern{
    width: 180px;
}
.thumb_pattern a {
	 background-image: url('../images/patterns_sprite.png');
	  background-repeat: no-repeat;
	  border: 1px solid #b9b9b9;
	  width: 29px;
	  height: 29px;
	  float:left;
	  margin:0 5px 5px 0;
}
.thumb_pattern a.current {
	border:1px solid #252525;
}

a.thumb_thumb_1 {background-position: 0 0;}
a.thumb_thumb_2 {background-position: -30px 0;}
a.thumb_thumb_3 {background-position: -60px 0;}
a.thumb_thumb_4{background-position: -90px 0;}
a.thumb_thumb_5 {background-position: -120px 0;}
a.thumb_thumb_6 {background-position: 0 -30px;}
a.thumb_thumb_7 {background-position: -30px -30px;}
a.thumb_thumb_8 {background-position: -60px -30px;}
a.thumb_thumb_9 {background-position: -90px -30px;}
a.thumb_thumb_10 {background-position: -120px -30px;}


.thumb_pattern a.current {
    border: 1px solid #252525;
}


/*--------------------------------  Pattern Selector end  --------------------------------------*/

.options_footer textarea{
    width: 100%;
    height: 200px;
}

/* -------------------------------------------------- */
/*	Choice Sidebar
/* -------------------------------------------------- */

	ul.admin-page-choice-sidebar li {
		position: relative;
		float: left;
		margin-left: 9px;
		width: 77px;
		height: 58px;
		border-width: 1px;
		border-style: solid;
		border-color: #d5d6d6;
		background-color: #f8f8f8;
		cursor: pointer;
		overflow: hidden;
		-webkit-border-radius: 3px;
		   -moz-border-radius: 3px;
				border-radius: 3px;
		-webkit-transition: border-color .25s linear;
		   -moz-transition: border-color .25s linear;
			-ms-transition: border-color .25s linear;
			 -o-transition: border-color .25s linear;
				transition: border-color .25s linear;
	}
	
	ul.admin-page-choice-sidebar li:first-child {margin-left: 0;}

	ul.admin-page-choice-sidebar li:hover,
	ul.admin-page-choice-sidebar li.current-item {border-color: #7d7d7d;}

		ul.admin-page-choice-sidebar a {
			display: block;
			height: 58px;
			text-indent: -9999px;
			background-image: url(../images/admin-page-choice-sprite.png);
			background-repeat: no-repeat;
			-webkit-border-radius: 3px;
			   -moz-border-radius: 3px;
					border-radius: 3px;
		}

		ul.admin-page-choice-sidebar li.rside a {background-position: 0 0;}
		ul.admin-page-choice-sidebar li.lside a {background-position: -77px 0;}
		ul.admin-page-choice-sidebar li.wside a {background-position: -154px 0;}

		ul.admin-page-choice-sidebar li.current-item:after {
			position: absolute;
			width: 12px;
			height: 12px;
			bottom: 2px;
			right: 1px;
			background: url(../images/icons/small-check.png) no-repeat;
			content: "";
		}


